<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Client">

    <insert id="save" parameterType="client">
        insert into client_table(clientId, clientPassword, clientName, clientEmail, clientMobile)
        values (#{clientId}, #{clientPassword}, #{clientName}, #{clientEmail}, #{clientMobile})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="client">
        select * from client_table where clientId=#{clientId}
    </select>

    <select id="findById" parameterType="client" resultType="client">
        select * from client_table where clientId=#{clientId} and clientPassword=#{clientPassword}
    </select>
</mapper>














