<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Vendor">

    <insert id="save" parameterType="vendor">
        insert into vendor_table(vendorId, vendorPassword, vendorName, vendorEmail, vendorMobile, vendorFileName)
        values (#{vendorId}, #{vendorPassword}, #{vendorName}, #{vendorEmail}, #{vendorMobile}, #{vendorFileName})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="vendor">
        select * from vendor_table where vendorId=#{vendorId}
    </select>

    <select id="login" parameterType="vendor" resultType="vendor">
        select * from vendor_table where vendorId=#{vendorId} and vendorPassword=#{vendorPassword}
    </select>

    <select id="findAll" resultType="vendor">
        select * from vendor_table
    </select>

    <select id="findById" parameterType="Long" resultType="vendor">
        select * from vendor_table where id=#{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from vendor_table where id=#{id}
    </delete>

    <update id="update" parameterType="vendor">
        update vendor_table set vendorName=#{vendorName}, vendorEmail=#{vendorEmail},
                                vendorMobile=#{vendorMobile} where id=#{id}
    </update>

    <update id="updatePoint" parameterType="history">
        update vendor_table set vendorPoint=vendorPoint+#{productPrice} where vendorId=#{vendorId};
    </update>
</mapper>














